html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #E0E0E0;
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
}

a {
    text-decoration: none;
    color: #58a6ff;
}

a:hover {
    color: #58a6ff;
    text-decoration: underline;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.sidebar {
    width: 280px;
    padding: 20px;
}

#map {
    flex: 1;
    height: 100%;
}

.popup {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: #212121;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 20px;
  color: #888;
  cursor: pointer;
}

.close-btn:hover {
  color: white;
}

.collection p:first-child {
  margin-bottom: 0;
}

.collection p:last-child {
  margin-top: 0;
}

#tributarySlider,
#watershedSelect {
  width: 100%;
}

#settlementToggle,
#reservoirToggle {
  vertical-align: middle;
}

select {
  background-color: #E0E0E0;
}

button {
  color: #000000;
  background-color: #E0E0E0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b4b4b4;
}

input {
  color: #E0E0E0;
  accent-color: #0077ff;
}

input:hover {
  color: #b4b4b4;
  accent-color: #0077ff;
}

/* Responsive styles, for phone */
@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }

  .sidebar {
    order: 2;
  }
}
