html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fff;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.sidebar {
    width: 300px;
    background-color: #212121;
    padding: 20px;
}

#map {
    flex: 1;
    height: 100%;
}